<!DOCTYPE html>
<html th:replace="~{layout :: tc(~{::title},~{::div})}" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>비밀번호 변경</title>

</head>

<body>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">새로운 비밀번호 설정</h1>
                                    <p class="mb-4" th:text="|${member.email} 님의 비밀번호 변경|" ></p>
                                </div>
                                <form class="user" th:action="@{/member/new_password}" method="post" onSubmit="return Checkform()" name="frm" th:object="${newPasswordForm}">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>비밀번호 변경</h4>
                                        </div>
                                        <div class="card-body">
                                            비밀번호는 8~16자리까지이고,
                                            영문자,숫자,특수문자를 포함해야합니다.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" th:field="*{password}" class="form-control form-control-user"
                                               aria-describedby="emailHelp"
                                               placeholder="비밀번호 입력">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" th:field="*{passwordCheck}" class="form-control form-control-user"
                                               aria-describedby="emailHelp"
                                               placeholder="비밀번호 확인">
                                    </div>
                                    <div class="mb-3 alert alert-danger small" th:errors="*{password}">
                                        <p>비밀번호 오류 메시지</p>
                                    </div>
                                    <span th:classappend="${authFalse != null} ? 'is-invalid' : '' "  th:text="${authFalse}" ></span>
                                    <input type="submit" value="변경하기" class="btn btn-primary btn-user btn-block mt-3"  >
                                </form>
                                <hr>

                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>
    function Checkform() {
        if( frm.newPw.value == "" ) {
        frm.newPw.focus();
        alert("비밀번호를 입력해 주십시오.");
        return false;
        }
    }
    </script>
</div>



</body>


</html>