<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>비밀번호 찾기</title>

    <!-- Custom fonts for this template-->
    <link href="/startbootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/startbootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <!--카드-->
    <link rel="stylesheet" href="/startbootstrap/css/top.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
                                        <p class="mb-4">비밀번호를 찾고자 하는 FP 이메일을 입력해주시면
                                            해당 메일 주소로 인증번호를 보내드립니다.</p>
                                    </div>
                                    <form class="user" th:action="@{/forgot_password}" method="post" onSubmit="return Checkform()" name="frm">
                                        <div class="form-group">
                                            <input type="email" name="findMember" class="form-control form-control-user"
                                                   aria-describedby="emailHelp" id="findMember"
                                                   placeholder="이메일 주소">
                                        </div>

                                        <input type="submit" value="이메일 보내기" class="btn btn-info btn-user btn-block mt-3" >
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/login">로그인으로 돌아가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



</body>
<script th:inline="javascript">

   /*<![CDATA[*/ var msg = /*[[ ${msg} ]]*/; /*]]*/
    if(msg !=null){
    console.log(msg);
    alert(msg);
    }



    function Checkform() {
        if(frm.findMember.value == "") {
        frm.findMember.focus();
        alert("이메일을 입력해 주십시오.");
        return false;
        }
    }
</script>

</html>